@charset "UTF-8";
/* CSS Document */

html {
	background-color: white;
	font-family: Corbel;
}

header {
	font-size:32px;
	font-weight: thick;
	color: black;
	margin-top: 2%px;
	margin-left: 2%px;
}

nav li a {
    list-style:none;
    text-align: left;
    text-decoration: none;
    margin-left:4%;
}

ul
{
    list-style-type:none;
    margin-left: 4%;
}

#container {
	max-width: 15000px;
}
